# Python
server/**/__pycache__/
server/**/*.py[cod]
server/**/*$py.class
server/**/*.so
server/**/*.pyc
server/**/.Python
server/**/build/
server/**/develop-eggs/
server/**/dist/
server/**/downloads/
server/**/eggs/
server/**/.eggs/
server/**/lib/
server/**/lib64/
server/**/parts/
server/**/sdist/
server/**/var/
server/**/wheels/
server/**/*.egg-info/
server/**/.installed.cfg
server/**/*.egg
server/**/MANIFEST
server/**/.env
server/**/.venv
server/**/env/
server/**/venv/
server/**/ENV/
server/**/env.bak/
server/**/venv.bak/
server/**/.coverage
server/**/htmlcov/
server/**/.pytest_cache/
server/**/.tox/
server/**/.nox/
server/**/.hypothesis/
server/**/.coverage.*
server/**/coverage.xml
server/**/*.cover

# JavaScript
client/node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnp/
.pnp.js
.cache/
.next/
.nuxt/
.gatsby/
.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
coverage/
build/
dist/
.eslintcache
